@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Oswald&family=Roboto:wght@100&display=swap');

:root {
    --main-color: #375e53;
    --sub-color: gold;
    --text-color: rgba(0, 128, 45, 0.62);
    --bg-color: black
}
.big-image {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.big-image:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("quan-tri-du-lieu.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -2;
    animation: Inout 6s infinite;
}

@keyframes Inout {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
.big-image:after {
    content: "";
    display: block;


    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -2;
}
.big-image.big-image-content{
    text-align: center;
    max-width: 500px;
}
.big-image .big-image-content h2 {
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Hurricane', cursive;
}
.c{
    padding-left: 10px;
    text-align: center;
}